.object-info-wrapper {
  background-color: rgb(205, 205, 206);
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
  padding: 24px;
}
h3 {
  color: red;
  margin: 0 auto;
}
ul {
  list-style-type: none;
}
p {
  font-weight: 600;
  line-height: 0;
}
